* {
    box-sizing: border-box;    
}

.container {
    width: 600px;
    margin: 0 auto;
    border: 10px solid white;
    background-color: rgb(46, 59, 70);
    color: white;
}

h1, h3, h4, h5, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5% 2%;
}

nav img {
    width: 50px;
    height: 50px;
}

.current-weather {
    align-items: center;
    width: fit-content;
    margin: auto;
} 

.center {
    text-align: center;
}

.actual-weather-icon {
    width: 8rem;
    height: 8rem;    
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin: 1% 10%;
    padding-top: 1em;
    padding-bottom: 2em;
    
}

.grid3 > div {
    margin: auto;
    text-align: center;
}

.icon {
    display: block;
    margin: 0 auto;
}

h2 {
    border-bottom: 1px solid white;
    grid-column: 1/3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 10%;
}




